div.myfoot
    ul.nav.socials
        li.nav-item.social.f
            a.nav-link(href="https://www.facebook.com/Maurice-Joosten-302304027070522/")
                i.fab.fa-facebook-f
        li.nav-item.social
            a.nav-link(href="https://www.instagram.com/mauricejoosten/")
                i.fab.fa-instagram

        li.nav-item.disclaimer
            a.nav-link(href="./disclaimer.html")
                p  © Maurice Joosten 2019 - All Rights reserved - Disclaimer

