
nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark
    div
        a(href="#").navbar-brand Maurice Joosten
            p.sub-logo Art & Olfactory
    button.navbar-toggler(type="button" data-toggle="collapse"  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    div.collapse.navbar-collapse.justify-content-center
        ul.navbar-nav
            li.nav-item.dropdown
                a.nav-link.dropdown-toggle#navbarDropdownMenuLink(href="./works" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Works
                div.dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
                    a.dropdown-item(href="./photography.html") Photography
                    a.dropdown-item(href="/lightBox.html") Light works
                    a.dropdown-item#first(href="./sculpture") Sculpture
                    a.dropdown-item(href="./scent architecture.html") Scent architecture
            li.nav-item
                a.nav-link(href="./joosten-black") Joosten Black
            li.nav-item
                a.nav-link(href="./about") About
            li.nav-item
                a.nav-link(href="./contact") Contact
            li.nav-item#lang
                a.nav-link(href="./") Eng/Jp





    div.block.block-dshow
        div.inner-block
            ul.navbar-nav.flex-column
                li.nav-item#works
                    a.nav-link(href="#") Works
                    div.my-dropdown-menu
                        a.dropdown-item(href="./photography.html") Photography
                        a.dropdown-item(href="/lightBox.html") Light works
                        a.dropdown-item(href="./sculpture") Sculpture
                        a.dropdown-item(href="./scent architecture.html") Scent architecture
                li.nav-item
                    a.nav-link(href="./joosten-black") Joosten Black
                li.nav-item
                    a.nav-link(href="./about") About
                li.nav-item
                    a.nav-link(href="./contact") Contact
                li.nav-item
                    a.nav-link(href="./") Eng/Jp
                li.nav-item.social
                    p.socials
                        a.nav-link(href="https://www.facebook.com/Maurice-Joosten-302304027070522/")
                            i.fab.fa-facebook-f
                        a.nav-link(href="https://www.instagram.com/mauricejoosten/")
                            i.fab.fa-instagram

