:root {
}

body {
    background-color: black;
}

/*Sculpture Card styles*/
.navbar {
    background-color: black!important;
}

.dropdown-menu {
    background-color: black !important;
    padding-top: 0 !important;
}

.dropdown-item {
    font-size: 15px;
    padding: 0 17px !important;
}

.dropdown-item:hover {
    color: #ffffff !important;
    background-color: black;
}

.gallery {
    margin-top: 180px !important;
    padding-top: 120px;
    margin-left: 25px;
    margin-right: 25px;
    border-top: 0.1pt solid rgb(42, 41, 41);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all, ease-in, 6000ms;
}

/*Category styles */

.galleryCard {
    max-width: 50%;
    padding: 0 !important;
    margin-bottom: 120px;
    background-color: black !important;
    margin-left: 100px;
    margin-right: 100px;
    align-content: space-around;
}
.galleryCard :hover{
    cursor: pointer;
}

.galleryCard2 {
    max-width: 35%;
    padding: 0 !important;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 120px;
    background-color: black !important;
    align-content: space-around;
}
.galleryCard2:hover{
    cursor: pointer;
}
.galleryCard2:hover .details p{
    opacity: 1;
}
.galleryCard:hover .details p{
    opacity: 1;
}
#galleryTitle{
    width:100%;
    font-size:30px;
    text-align: center;
    color: #737271;
    padding-bottom:70px;
}


.titleCont {
    background-color: rgba(4, 0, 1, 0.8) !important;
}

.title {
    font-size: 13px;
    transition: color, swing, 450ms;
}

.title:hover {
    text-decoration: none !important;
}

.image {
    opacity: 1;
    transition: all, swing, 0.5s;
}

.image2 {
    opacity: 1;
    transition: all, swing, 0.5s;
}

.galleryCard:hover .image {
    opacity: 0.9;
}

.galleryCard:hover .image2 {
    opacity: 0.7;
}

.rightBox {

    text-align: right;
    font-size: 13px;
    margin-top: 5px !important;
    position: relative;
}
.rightMore{
    right: -75%;
    float: right;

}
.rightLess{
    right: -40%;
    float: right;
}
.bottom2{
    bottom: 48px !important;
}
.bottom3{
    bottom: 61px !important;
}
.bottom4{
    bottom: 77px !important;
}
.bottom5{
    bottom: 98px !important;
}
.bottom6{
    bottom: 118px !important;
}
.bottom7{
    bottom: 137px !important;
}
.rightBox .details p {
    margin-bottom: 1px;
    color: #5b5b5b;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.pagination-box{
    align-content: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30px;
}
.pagination-box .page-item{
    margin-right: 5px;
    margin-left: 5px;
}
[aria-label="Previous"],[aria-label="Next"]{
    margin-right: 0!important;
    margin-left: 0!important;
    padding-left: 0;
    padding-right: 0;
}
.pagination-box .page-link{
    color: #5a5a5a!important;
    background-color: black !important;
    border:none!important;
}
.pagination-box .active{
    color: #bfc5c9 !important;
    border-radius: 20px;
    border: 1px solid #bfc5c9!important;
}
.modal{
    padding: 0!important;
}
.m-small{
    opacity: 0!important;
}
.modal-content{
    background-color: transparent;
}
.modal-header{
    border-bottom: none!important;
}
.modal-header{
    padding: 0!important;
}
.modal-header span{
    color: white;

}
.modal-body img{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.modal-body{
    padding: 0!important;
}
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1400px) {
    .galleryCard {
        /*width: 50%;*/
        width: 40%;
        margin: 0 300px;
        margin-bottom: 120px;
    }

    .galleryCard2 {
        /*width: 35%;*/
        width: 25%;
        margin: 0 300px;
        margin-bottom: 120px;

    }
    .rightMore{
        right: -100%;
    }
    .rightLess{
        right: -45%;
    }
    .modal-dialog{
        width: 70%!important;
    }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    .galleryCard {
        max-width: 65%;
    }

    .galleryCard2 {
        max-width: 45%;
    }
    .rightMore{
        right: -62%;
    }
    .rightLess{
        right: -28%;
    }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (max-width: 992px){
    .area,.area2,.size,.country,.material{
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .galleryCard {
        max-width: 75%;

    }

    .galleryCard2 {
        max-width: 55%;
    }

    .rightBox {
        text-align: right;
        font-size: 13px;
        margin-top: 30px !important;
        position: initial;
        padding-top: 10px;

    }
    .rightBox .details p {
        margin-bottom: 1px;
        color: #5b5b5b;
        opacity: 1;
        transition: opacity 0.3s ease-in;
    }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .galleryCard {
        max-width: 75%;

    }

    .galleryCard2 {
        max-width: 55%;
    }

    .rightBox {
        text-align: right;
        font-size: 13px;
        margin-top: 30px !important;
        position: initial;
        padding-top: 10px;
    }
    .rightBox .details p {
        margin-bottom: 1px;
        color: #5b5b5b;
        opacity: 1;
        transition: opacity 0.3s ease-in;
    }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    .galleryCard {
        max-width: 85%;

    }

    .galleryCard2 {
        max-width: 62%;
        margin-left: 0;
        margin-right: 0;
    }

    .rightBox {
        text-align: right;
        font-size: 13px;
        margin-top: 30px !important;
        position: initial;
        padding-top: 10px;
    }
    .rightBox .details p {
        margin-bottom: 1px;
        color: #5b5b5b;
        opacity: 1;
        transition: opacity 0.3s ease-in;
    }


}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .gallery {
        margin-top: 170px !important;
        margin-right: 0px;
        margin-left: 0px;
    }

    .galleryCard {
        max-width: 80%;
        margin-left: 0;
        margin-right: 0;

    }

    .galleryCard2 {
        max-width: 60%;
        margin-left: 0;
        margin-right: 0;

    }

    .dropdown-menu {
        margin: 0px !important;
        padding: 0px !important;
    }

    .dropdown-item {
        font-size: 15px;
        padding: 0 0  0 17px !important;
        font-weight: 100;
    }

    .nav-link {
        padding: 0px;
    }

    .rightBox {
        text-align: right;
        font-size: 13px;
        margin-top: 25px !important;
        position: initial;
        padding-top: 10px;
    }
    .rightBox.rightMore{
        margin-right: -40px;
    }
    .rightBox .details p {
        margin-bottom: 1px;
        color: #5b5b5b;
        opacity: 1;
        transition: opacity 0.3s ease-in;
    }
}