:root {}

body{
    background-color: #060606;
}
/*Sculpture Card styles*/
.navbar{
    background-color: #060606!important;
}
.dropdown-menu{
    background-color: #060606!important;
    padding-top: 0!important;
}
.dropdown-item{
    font-size: 15px;
    padding: 0 7px!important;
}


.dropdown-item:hover{
    color: #ffffff !important;
    background-color: #060606!important;
}

.flex-cont {
    padding: 2%;
}

.gallery {
    margin-top: 150px !important;
    padding-top: 120px;
    border-top: 0.1pt solid rgb(22, 21, 21);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all,ease-in,6000ms;
}


/*Category styles */

.galleryCard {
    max-width:450px;
    padding: 0 !important;
    margin: 0 100px;
    margin-bottom: 120px;
    background-color: #060606; !important;
    align-content: space-around;
}

.titleCont {
    background-color: rgba(4,0,1,0.8) !important;
}


.title {
    color: #737271;
    font-size: 16px;
    transition: color, swing, 450ms;
}
.title2{
    color: #bcbbba;
    text-align: center;
    font-size: 16px;
    transition: color, swing, 450ms;
}
.title2:hover{
    text-decoration: none !important;
}
.title:hover {
    text-decoration: none !important;
}

.galleryCard:hover .title {
    color: white;
}
.galleryCard:hover .title2 {
    color: white;
}
.image {
    opacity: 1;
    transition: all, swing,0.5s;
}
.image2{
    opacity: 1;
    transition: all, swing, 0.5s;
}

.galleryCard:hover .image{
    opacity: 0.9;
}


.galleryCard:hover .image2{
    opacity: 0.7;
}

/*.leftBox{*/
    /*position: relative;*/
    /*top:-110px;*/
    /*right: -150%;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
    /*align-items: baseline;*/
    /*width: 10%;*/


/*}*/
.leftBox .details p{
    margin-bottom:3px!important;
}
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1400px) {
    .galleryCard {
        margin: 0 300px;
        margin-bottom: 120px;
    }
}


/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .galleryCard {
        max-width:450px;
    }
    .leftBox {

        right: -130%;
    }

}


/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .galleryCard {
        max-width:450px;

    }
    .leftBox {

        right: -115%;
    }

}


/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .galleryCard {
        max-width:450px;
    }
    .leftBox {

        right: -115%;
    }


}


/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .galleryCard {
        max-width:65%;
        margin-bottom: 120px;
    }
    .leftBox {

        right: -115%;
    }


}


/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .gallery {
        margin-top:170px!important;
    }

    .galleryCard {
        max-width:60%;
        margin: 0 10px;
        margin-bottom: 120px;
    }
    .dropdown-menu{
        margin: 0px!important;
        padding: 0px !important;
    }
    .dropdown-item{
        font-size: 15px;
        padding: 0!important;
        font-weight: 100;
    }
    .nav-link{
        padding: 0px;
    }
    .leftBox {

        right: -115%;
    }
}