
:root{

}


/*Sculpture Card styles*/

.sculptures{
    margin-top:100px;
}


.sculptureCard{
    margin: 15px;
    max-height: 390px;
}
.sculptureCard img{
    max-height: 337px;
}

.title{
    color: #7b7a79;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 15px;
}
