
:root{
    --navbar-bg-color:black;
    --navlink-font-color: #676767;
    --navlink-fontHover-color: #ffffff;
    --dropdown-bg-color:black;
    --dropdown-color:#676767;

}

body{
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100!important;
}

/*navBar styles*/


.bg-dark{
    background-color:var(--navbar-bg-color) !important;
}
.navbar-nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    padding-left: 120px;
}

.navbar-brand{
    font-size: 18px;
    padding-left: 10px;
    font-weight: inherit;
}

.nav-item .nav-link{
    font-size: 17px;
    color:var(--navlink-font-color)!important;
    transition: color,swing,300ms;
}
.nav-item{
    margin: 0 3%;
}
#lang .nav-link{
    font-size: 15px;
}

.nav-link:hover{
    color:var(--navlink-fontHover-color) !important;
}
.dropdown-toggle::after{
    display: none;
}


/*drop down menu styles*/
.dropdown-menu{
    background-color:var(--dropdown-bg-color);
}
.dropdown-item{
    padding: 0 10px 5px 15px!important;
    color:var(--dropdown-color)!important;
    font-weight: 100;
    font-size: 16px;
    transition: background-color,color,swing,300ms;
}
#first{
    padding-top: 0!important;
    margin-top: 0!important;
}
.dropdown-item:hover{
    color: #ffffff !important;

    background-color: black;
 }

@media screen and (max-width:1400px){
    .nav-item{
        margin: 0 3%;
    }
    #lastGhost{
        display: none;
    }

}
.textBox{
    width: 80%;
    margin-top: 5%;
    margin-left: 5%;
}
.textBox p{
    text-align: left;
    color: #919191;
}
.myfoot a{
    text-decoration: none;
    text-underline: none;
    color: #5a5a5a;
    font-size: 13px;
}
.myfoot a:hover{
    text-decoration: none;
    text-underline: none;
}
.myfoot a p{
    margin-right: 8px;
    text-align: right;
}

@media screen and (max-width: 992px) {
    .navbar-nav{
        display: block;
        justify-content: left;
        align-items: left;
        padding: 0;
    }
    .ghost{
        display: none;
    }
}
@media screen and (max-width:768px)  {


}
