
:root {
    --navbar-bg-color: black;
    --navlink-fontHover-color: #ffffff;
    --dropdown-bg-color: black;
    --dropdown-color: #676767;

}

body {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100 !important;
}

/*navBar styles*/

.bg-dark {
    background-color: black !important;
}


.navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-left: 120px;
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 18px;
    padding-left: 10px;
    font-weight: inherit;
}
.navbar-brand .sub-logo{
    font-size: 15px;
    color: #ff1300 !important;
}
.nav-item .nav-link {
    font-size: 17px;
    transition: color, swing, 300ms;
}

.nav-item {
    margin: 0 3%;
}
.nav-item.social{
    margin: 0 0.5%
}
.nav-item.social.f{
    margin: 0 0.5% 0 2.5%
}
#lang .nav-link {
    font-size: 15px;
}

.nav-link:hover {
    color: var(--navlink-fontHover-color) !important;
}

.dropdown-toggle::after {
    display: none;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

/*drop down menu styles*/
.dropdown-menu {
    background-color: var(--dropdown-bg-color);
}

.dropdown-item {
    padding: 0 10px 5px 15px !important;
    color: var(--dropdown-color) !important;
    font-weight: 100;
    font-size: 16px;
    transition: background-color, color, swing, 300ms;
}

.first {
    padding-top: 0 !important;
    margin-top: 0 !important;
}



.block {
    display: none;
    position: fixed;
    top: 55px;
    left: 0px;
}

.block .nav-item{
    margin-top: 5px;
    margin-bottom:5px;
}

.block .nav-item .nav-link {
    text-align: center; padding: 0;
    font-size: 25px!important;
}

.block .navbar-nav {
    padding-left: 0;
    margin-bottom: 0 !important;
}
.block .my-dropdown-menu .dropdown-item {
    margin-top: 5px;
    margin-bottom: 5px;
}
.block .dropdown-item{
    font-size: 18px;
    text-align: center;
    padding: 0 !important;
}
.block .nav-item.social .nav-link{
    display: inline-block;
    margin-left: 13px;
    margin-right: 13px;
}
.block .social{
    text-align: center;
    margin-top: 10px;
}

.show {
    display: block;
    opacity: 1;
}

.hide {
    display: none;
    opacity: 0;
}

.textBox {
    width: 80%;
    margin-top: 5%;
    margin-left: 5%;
}

.textBox p {
    text-align: left;
    color: #919191;
}

.myfoot a {
    text-decoration: none;
    text-underline: none;
    color: #5a5a5a;
    font-size: 13px;
}

.myfoot a:hover {
    text-decoration: none;
    text-underline: none;
}

.myfoot a p {
    margin-right: 8px;
    text-align: right;
}

@media screen and (max-width: 1400px) {
    .nav-item {
        margin: 0 3%;
    }

    #lastGhost {
        display: none;
    }


}

@media screen and (min-width: 992px) {
    .block-show {
        display: none;
        opacity: 0;
    }
}

@media screen and (max-width: 992px) {
    .navbar-nav {
        display: block;
        justify-content: left;
        align-items: left;
        padding: 0;
    }

    .ghost {
        display: none;
    }

    .block {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        position: fixed;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: black;
        z-index: -1;

    }
    .inner-block {
        width: 200px;
    }

    .block-show {
        display: flex;
    }

    .block-dshow {
        display: none;
    }

}

@media (min-width: 768px) and (max-width: 992px) {


}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {


}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

}