doctype html
html
    head
        include includes/head
        link(rel="stylesheet" href="./css/gallery.css")
        link(rel="stylesheet" href="./css/about.css")
        title モーリス　ヨーステン - About
    body
        include includes/navbar
        div.main
            div.flex-cont
                div.selfie-2
                    img(src="./images/About.jpg")
                div.text-area
                    p.italic
                        i
                            |"私の創作は、生きることの儚さ、そして、身体性とその境界の消失を追い求める。この主題は、これまで気体のように軽く形の捉えどころない白色の彫刻作品として具象化されてきた。
                            br
                            |しかしながら、近年、創作の主軸は反転し、これまでの作品が光を表すとするなら、より暗闇へと引寄せられている。磨かれた白色の表面へ光が反射することで現れる表象から、内面より自らを照らす像へ。光は暗闇がゆえに輝き、そして完全なものとなる。"


                    p.middle
                        |1962年　オランダ　ハーレムに生まれる。アムステルダムのアートアカデミーにて現代美術彫刻を学び、ロイヤル　アカデミー　オブ　ビジュアルアーツのフェローシップ修了。
                        br
                        |1988年からプロのビジュアルアーティストとして活動。1997年よりイタリアのトリノ在。同時期に、ヨガとnonduality（非二元論）の教えに触れ、思索を深める。2003年東京におけるパナソニックのパブリックアートプロジェクト完了後、日本に拠点を移す。

                    p.
                        また、2006年より、香りの研究を開始、視覚と嗅覚の相乗的な作用を探究する。東京とベルリンを拠点とする@aroma社の芳香空間デザイナーとして、世界中の航空会社（機内・ラウンジ）、ホテル、高級車、ラグジュアリーブランドのために特別な香りを開発。
                        2013年よりベルリンにて活動。


                div.selfie
                    img(src="./images/About.jpg")


        include includes/footer
        script(src="./scripts/myScripts/main.js")
