doctype html
html
    head
        include includes/head
        link(rel="stylesheet" type="text/css" href="./css/index.css")
        title Joosten

    body
        div#nameCont
            h1#name.pulse1 Maurice Joosten
        include includes/foot
        script(src="./scripts/myScripts/index.js")
