doctype html
html
    head
        include includes/head
        meta(http-equiv="Refresh" content="30; url=./Works.html")
        link(rel="stylesheet" type="text/css" href="./css/index.css")
        title Maurice Joosten - Art & Olfactory

    body
        div#nameCont
            div.container
                a(href="./works.html")
                    img#center.center2.pulse1(src="./images/center.jpg")
                    div.overlay
        script(src="./scripts/myScripts/index.js")

