doctype html
html
    head
        include includes/head
        link(rel="stylesheet" type="text/css" href="./css/index.css")
        title Joosten

    body
        div#nameCont
            div.container
                img#center.center2.pulse1(src="./images/center.png")
                div.overlay
        script(src="./scripts/myScripts/index.js")
