doctype html
html
    head
        include includes/head
        link(rel="stylesheet" href="./css/gallery.css")
        link(rel="stylesheet" href="./css/joosten-black.css")
        title Maurice Joosten - Joosten Black
    body
        include includes/navbar
        div.flex-cont
            div.text-area
                h4.centre.heading.mg-bottom5 Joosten Black
                p.centre.mg-bottom2 ”So the darkness shall be the light”
                p.left.mg-bottom2.
                    From 2006-2012 Joosten gave weekly Sunday yoga classes in a traditional Japanese wooden temple
                    Kannon-do (temple of Avalokitesvara) at Chizanso, Hayama Japan.
                    The experience during these meditative sessions in this unique setting over many years, has
                    strongly influenced his view on light and shadow.

                p.italic.centre.mg-bottom2
                    | “...we find beauty not in the thing itself but in the patterns of shadows, the light and the
                    br
                    | darkness, that one thing against another creates. (...) Were it not for shadows, there
                    br
                    | would be no beauty.”
                    |
                    br
                    | What lies within the darkness one cannot distinguish, but the palm senses the gentle
                    br
                    | movements of the liquid, vapour rises from within, forming droplets on the rim, and the
                    br
                    | fragrance carried upon the vapour brings a delicate anticipation (...)
                    br
                    | A moment of mystery, it might almost be called, a moment of trance.”
                    br
                    span.centre
                        | (Junichiro Tanizaki, In praise of shadows)

                p.centre.italic
                    | “I said to my soul, be still, and let the dark come upon you
                    br
                    | Which shall be the darkness of God. As, in a theatre,
                    br
                    | The lights are extinguished, for the scene to be changed
                    br
                    | With a hollow rumble of wings, with a movement of darkness on darkness,
                    br
                    | And we know that the hills and the trees, the distant panorama
                    br
                    | And the bold imposing facade are all being rolled away-
                    br
                    | Or as, when an underground train, in the tube, stops too long between stations
                    br
                    | And the conversation rises and slowly fades into silence
                    br
                    | And you see behind every face the mental emptiness deepen
                    br
                    | Leaving only the growing terror of nothing to think about;
                    br
                    | Or when, under ether, the mind is conscious but conscious of nothing-

                p.centre.italic.mg-bottom2
                    | I said to my soul, be still, and wait without hope
                    br
                    | For hope would be hope for the wrong thing; wait without love,
                    br
                    | For love would be love of the wrong thing; there is yet faith
                    br
                    | But the faith and the love and the hope are all in the waiting.
                    br
                    | Wait without thought, for you are not ready for thought:
                    br
                    | So the darkness shall be the light, and the stillness the dancing.
                    br
                    | Whisper of running streams, and winter lightning.
                    br
                    | The wild thyme unseen and the wild strawberry,
                    br
                    | The laughter in the garden, echoed ecstasy
                    br
                    | Not lost, but requiring, pointing to the agony
                    br
                    | Of death and birth.”
                    br
                    | (T.S. Eliot, Four Quartets - East Cocker, third quartet)


                p.left.mg-bottom2
                    | With his recent photography and light works Joosten explores a darker expanse where
                    | the light reflects from within.
                    br
                    | After his move from Japan to Germany in 2013 he started to experiment with black &
                    | white paper cut-outs and cast resin shapes placed into reliefs, projecting light from
                    | behind the paper and rain shapes.
                    br
                    | The photographic works were created by projecting a white LED light from behind the
                    | paper cut-out planes, while capturing the image with a moving camera.
                    | The light boxes consist of a black front panel hung on the wall, in which a negative
                    | silhouette has been cut out by a digital laser cutter.
                    br
                    | Behind this front panel, a semi-transparent plate is mounted. A white LED light is installed
                    | behind the panels into a black frame so that the light only shines through the cut-out
                    | openings of the front layer. The light source is connected to a small microcontroller that
                    | will move the intensity of the light as if it slowly breaths in and out, as a light source that
                    | slowly appear and dissolves.
                p.centre.italic.mg-bottom
                    | "Life is the light that shines in the darkness!"
                    br
                    | (Hayao Miyazaki, Nausicaä of the valley of the wind, Vol.7-2 The Crypt)

                p.left.mg-bottom5.
                    Creating an infinite black space in which all life appearances begins and end.
                    A silent empty void in which sinuous light whisperings emerge, slowly appearing
                    and dissolving on the brink of existence. The light breathing, in and out. A caress,
                    a sensual dance, embracing the night. A signature coming to life, a scripture fading
                    away.

                p.left.mg-bottom2
                    | Like the last moment before falling asleep, when we have laid down our clothes, our
                    | various roles and identities, we dissolve into absolute darkness. Or reversely, as the first
                    | instant in which we seem to reappear right before awakening.
                    | An infinite empty blackness in which all life appearances begin and end, the background
                    | of our being.
                p.centre.italic.mg-bottom
                    | “One does not become enlightened by imagining figures of light, but by making the darkness conscious. "
                    br
                    | (C.G. Jung “The Philosophical Tree” (1945) In Collected Works13: Alchemical Studies)

                p.italic.centre.mg-bottom2
                    | “To confront a person with his shadow is to show him his own light. Once one has
                    br
                    | experienced a few times what it is like to stand judgingly between the opposites,
                    br
                    | one begins to understand what is meant by the self. Anyone who perceives his shadow and his
                    br
                    | light simultaneously sees himself from two sides and thus gets in the middle.”
                    br
                    | (C.G.Jung “Good and Evil in Analytical Psychology” (1959) In Collected Works 10. Civilization in Transition.)








        include includes/footer
        script(src="./scripts/myScripts/main.js")