doctype html
html
    head
        include includes/head
        link(rel="stylesheet" href="./css/gallery.css")
        link(rel="stylesheet" href="./css/olfactory.css")
        title About
    body
        include includes/navbar
        div.main
            div.flex-cont
                div.img-olf
                    img(src="./images/olfactory.jpg")
                div.text-area
                    p.
                        Joosten is a modern-day alchemist-philosopher melding sense of sight and smell.
                        As an olfactory space designer, Joosten’s role is part chemist, designer, brand expert, and potion master.
                        He is a specialist in scent creation for use in high-quality interior environments and brand communication
                        projects. Using only the finest, 100% natural ingredients, he creates sophisticated and refined scent experiences
                         to capture the unique identity of a brand or a location in one encapsulating air design.
                    p.
                        He has been working as an olfactory space designer for @aroma Co., Ltd in Tokyo and Berlin for numerous clients
                        worldwide.  He has designed olfactory spaces focused on engaging all the senses for exclusive hotels, premium car
                        brands, as well as creating natural perfumes for luxury life-style retail brands.
                    p.
                        News
                div.text-area2
                    p
                        |Interview 99U:
                        br
                        |“Do You Have a Nose for Branding? The Memorable World of Aroma Design”.
                        |07.07.2019



        script(src="./scripts/myScripts/main.js")