doctype html
html
    head
        include includes/head
        link(rel="stylesheet" href="./css/gallery.css")
        link(rel="stylesheet" href="./css/photography.css")
        title Maurice Joosten - Photography
    body
        include includes/navbar
        div.flex-cont
            div.gallery
                h1#galleryTitle Photography
        include includes/footer
        script(src="./scripts/myScripts/main.js")
        script(src="./scripts/myScripts/GalleryItem.js")
        script(src="./scripts/myScripts/photography.js")