doctype html
html
    head
        include includes/head
        link(rel="stylesheet" href="./css/gallery.css")
        link(rel="stylesheet" href="./css/olfactory.css")
        title Maurice Joosten - Scent Architecture
    body
        include includes/navbar
        div.main
            div.flex-cont
                h1#galleryTitle Scent architecture
                div.img-olf
                    img(src="./images/olfactory.jpg")
                div.text-area
                    p.
                        Joosten is a modern-day alchemist-philosopher melding sense of sight and smell.
                        As an olfactory space designer, Joosten’s role is part chemist, designer, brand expert, and potion master.
                        He is a specialist in scent creation for use in high-quality interior environments and brand communication
                        projects. Using only the finest, 100% natural ingredients, he creates sophisticated and refined scent experiences
                         to capture the unique identity of a brand or a location in one encapsulating air design.
                    p.mid.
                        He has been working as a scent architect and designer for @aroma in Tokyo and Berlin for numerous clients worldwide.
                        He has curated olfactory environments focused on engaging all the senses for exclusive hotels, premium car brands,
                        as well as creating natural perfumes for luxury life-style retail brands.

                    p.news.
                        News
                div.text-area2
                    p.
                        Interview 99U:

                    a(href="https://99u.adobe.com/articles/63603/do-you-have-a-nose-for-branding-the-memorable-world-of-aroma-design").link-active.
                        “Do You Have a Nose for Branding? The Memorable World of Aroma Design”.
                    p.bot.
                        07.07.2019
                div.text-area2.marg-bottom

                        p.
                            Podcast:

                        a(href="https://podcasts.apple.com/de/podcast/heckfield-place/id1465488948?l=en&i=1000446295892").link-active.
                            "Heckfield Place "The Value of the Mind: Memory and Scent Panel"

                        p.bot.
                            29.07.2019


        include includes/footer
        script(src="./scripts/myScripts/main.js")