doctype html
html
    head
        include includes/head
        link(rel="stylesheet" href="./css/gallery.css")
        link(rel="stylesheet" href="./css/olfactory.css")
        title Scent architecture
    body
        include includes/navbar
        div.main
            div.flex-cont
                div.img-olf
                    img(src="./images/olfactory.jpg")
                div.text-area
                    p.
                        モーリス・ヨーステンは、現代の錬金術師兼哲学者として、視覚と嗅覚の相乗的な作用を探究する。化学者、デザイナー、ブランディングの専門家、調剤師といった様々な役割を担う。純自然物由来の高精製材料を調合することにより、場所やブランドの特徴を香り（連想）として包み込む創造である
                    p.mid.
                        東京とベルリンを拠点とする@aroma社の芳香空間デザイナーとして、世界中の航空会社（機内・ラウンジ）、ホテル、高級車、ラグジュアリーブランドのために特別な香りを開発している。


                    p.news.jp.
                        News
                div.text-area2
                    p.
                        Interview 99U:

                    a(href="https://99u.adobe.com/articles/63603/do-you-have-a-nose-for-branding-the-memorable-world-of-aroma-design").link-active.
                        “Do You Have a Nose for Branding? The Memorable World of Aroma Design”.
                    p.bot.
                        07.07.2019
                div.text-area2.marg-bottom

                    p.
                        Podcast:

                    a(href="https://podcasts.apple.com/de/podcast/heckfield-place/id1465488948?l=en&i=1000446295892").link-active.
                        "Heckfield Place "The Value of the Mind: Memory and Scent Panel"

                    p.bot.
                        29.07.2019


        include includes/footer
        script(src="./scripts/myScripts/main.js")