doctype html
html
    head
        include includes/head
        link(rel="stylesheet" href="./css/sculpture.css")
        title Sculpture
    body
        include includes/navbar
        div.container
            div.row.sculptures.justify-content-center

        include includes/foot
        include  includes/sculptureHead