doctype html
html
    head
        include includes/head
        link(rel="stylesheet" href="./css/categories.css")
        title Maurice Joosten - Works
    body
        include includes/navbar
        div.flex-cont
            div.works.pulse1
        include includes/footer
        include  includes/categoriesHead
        script(src="./scripts/myScripts/main.js")