doctype html
html
    head
        include includes/head
        link(rel="stylesheet" href="./css/categories.css")
        title Works
    body
        include includes/navbar
        div.container-fluid
            div.row.works.justify-content-center.no-gutters

        include includes/foot
        include  includes/categoriesHead