doctype html
html
    head
        include includes/head
        link(rel="stylesheet" href="./css/categories.css")
        title Works
    body
        include includes/navbar
        div.flex-cont
            div.works.pulse1

    include includes/foot
    include  includes/categoriesHead